@media (max-width: 767.98px) {
    .row > [class*='col-'] {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .row > [class*='col-'] {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .row > [class*='col-'] {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
